@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    min-height: 100vh;
}

.chart--bar {
    animation: grow 1200ms cubic-bezier(0.25, 1, 0.5, 1);
}

.chart--bar:hover aside {
    opacity: 100;
}

@keyframes grow {
    from {
        height: 0%;
    }
}